html {
    font-family: 'Open Sans';
}

nav {
    background-color: #333333;
    width: 100%;
    top: 0;
    overflow: hidden;
    position: sticky;
}

nav a {
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 1px;
    display: block;
    width: auto;
    color: white;
}

nav a:hover {
    background-color: #777777;
}