html {
    font-family: 'Open Sans', monospace;
    background-color: #777777;
    color: whitesmoke;
}

nav {
    background-color: #333333;
    width: 100%;
    top: 0;
    overflow: hidden;
    position: sticky;
    border-radius: 4px;
}

nav a {
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 1px;
    display: block;
    width: auto;
    color: white;
}

nav a:hover {
    background-color: #555555;
}

a {
    color: aliceblue;
}

.small_image {
    width: 100px;
    height: 100px;
}

#item_list {
    display: inline-list-item;
}

.item {
    padding-top: 5px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    border-radius: 4px;
}

.item:hover {
    background-color: #555555;
}

.item_caption {
    display: block;
}

.user {
    float: right;
}

#profile {

}

#profile img {
    border: aliceblue 2px solid;
    border-radius: 100%;
}
