<p>Hello {{ user.username }},</p>
{# url_for uses the _external url function so that the url contains the domain name of the website as well as the route #}
<p>
    Your account has requested a password reset, to reset please click on the following link:
    <a href={{ url_for('reset_password', token=token, _external=True) }}>Reset your password</a>
</p>
<p>You have 5 minutes to use this token</p>
<p>You can alternatively paste this link in your browser: {{ url_for('reset_password', token=token, _external=True) }}</p>
<p>If you have not requested a password reset make sure the email associated with your account is secure.</p>
<p>R6Inventory</p>