{% extends "layout.html" %}

{% block content %}
<div id="item">
    <h3>{{ item.name }}</h3>
    <img class="small_image" src={{ item.small_image }}>
    <img class="large_image" src={{ item.large_image }}>
</div>
{# Checks if current user is logged in, if they are then it will show the respective button if they have the item added or not #}
{% if current_user.is_anonymous %}
<p>Please <a href="{{url_for('login')}}">Log in</a> to add items to your inventory</p>
{% else %}
{% if in_inventory == false %}
<button onclick="location.href='{{ url_for('add_to_inventory', item_name=item.name) }}'" type="button">Add to Inventory</button>
{% else %}
<button onclick="location.href='{{ url_for('add_to_inventory', item_name=item.name) }}'" type="button">Remove from Inventory</button>
{% endif %}
{% endif %}
{% endblock %}
