<!DOCTYPE html>
{# Sets the DOCTYPE to html and sets the document locale to english #}
<html lang="en">
<head>
    {# Links the stylesheet and font to the webpages #}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <title>R6 Inventory - {{ page_title }}</title>
</head>
<body>
    {# includes the section templates for the webpage #}
    {% include 'header.html' %}
    {% include 'nav.html' %}
    
    {# gets all flashed messages and displays them to the user #}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id='flash'>
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}
    <br>
    {% block content %}
    {% endblock %}
    <br>
    <hr>
    {% include "cookies.html" %}
    {% include 'footer.html' %}
</body>
</html>
