{% extends "layout.html" %}
{% block content %}
    <h1>Sign In</h1>
    <p>Don't have an account yet? Register <a href="{{url_for('register')}}">here</a></p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {# Sets the size of the form input to 32 characters #}
            {{ form.username(size=32) }}
            {# checks for validation errors returned by the form and displays them to the user #}
            {% for error in form.username.errors %}<br>
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}<br>
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    <p>
        Forgot your password?
        <a href="{{url_for('reset_password_request')}}">Click here to reset it</a>
    </p>
{% endblock %}
