<nav>
    <a href="{{url_for('home')}}">Home</a>
    <a href="{{url_for('weapons')}}">Weapons</a>
    <a href="{{url_for('operators')}}">Operators</a>
    <a href="{{url_for('organisations')}}">Organisations</a>
    <a href="{{url_for('charms')}}">Charms</a>
    <a href="{{url_for('headgears')}}">Headgears</a>
    <a href="{{url_for('uniforms')}}">Uniforms</a>
    <a href="{{url_for('skins')}}">Skins</a>
    <div class="user">
        {% if current_user.is_anonymous %}
        <a href="{{url_for('login')}}">Login</a>
        <a href="{{url_for('register')}}">Register</a>
        {% else %}
        <a href="{{url_for('user', username=current_user.username) }}">Profile</a>
        <a href="{{url_for('logout')}}">Logout</a>
        {% endif %}
        {% if current_user == "<User Admin>" %}
        <a>Admin</a>
        {% endif %}
    </div>
</nav>
