{% extends 'layout.html' %}

{% block content %}

<table id="profile">
    <tr valign="top">
        <td><img src="{{ user.avatar(128) }}"></td>
        <td><h1>User: {{ user.username }}</h1></td>
    </tr>
</table>
{% if current_user.username == user.username %}
<a href="{{ url_for('user_settings', username=user.username)}}" style='float: right;'>Change Profile Information</a>
{% endif %}

<h2>Operators</h2>
<div id="item_list">
    {% for op in operators %}
    <figure class="item">
    <a href="/{{ op.item_type.name }}/{{ op.name }}">
        <img class="small_image" src="{{ op.small_image }}">
        <figcaption class="item_caption">{{ op.name }}</figcaption>
    </a>
    </figure>
    {% endfor %}
</div>
<h2>Headgear</h2>
<div id="item_list">
    {% for headgear_ in headgear %}
    <figure class="item">
    <a href="/{{ headgear_.item_type.name }}/{{ headgear_.name }}">
        <img class="small_image" src="{{ headgear_.small_image }}">
        <figcaption class="item_caption">{{ headgear_.name }}</figcaption>
    </a>
    </figure>
    {% endfor %}
</div>
<h2>Uniforms</h2>
<div id="item_list">
    {% for uniform in uniforms %}
    <figure class="item">
    <a href="/{{ uniform.item_type.name }}/{{ uniform.name }}">
        <img class="small_image" src="{{ uniform.small_image }}">
        <figcaption class="item_caption">{{ uniform.name }}</figcaption>
    </a>
    </figure>
    {% endfor %}
</div>
<h2>Charms</h2>
<div id="item_list">
    {% for charm in charms %}
    <figure class="item">
    <a href="/{{ charm.item_type.name }}/{{ charm.name }}">
        <img class="small_image" src="{{ charm.small_image }}">
        <figcaption class="item_caption">{{ charm.name }}</figcaption>
    </a>
    </figure>
    {% endfor %}
</div>
<h2>Skins</h2>
<p>Skins coming in the future!</p>
<div id="item_list">
    {% for skin in skins %}
    <figure class="item">
    <a href="/{{ skin.item_type.name }}/{{ skin.name }}">
        <img class="small_image" src="{{ skin.small_image }}">
        <figcaption class="item_caption">{{ skin.name }}</figcaption>
    </a>
    </figure>
    {% endfor %}
</div>
{% endblock %}