{% extends 'layout.html' %}

{% block content %}

<table id="profile">
    <tr valign="top">
        <td><img src="{{ user.avatar(128) }}"></td>
        <td><h1>User: {{ user.username }}</h1></td>
    </tr>
</table>
{% if current_user.username == user.username %}
<a href="{{ url_for('user_settings', username=user.username)}}" style='float: right;'>Change Profile Information</a>
{% endif %}
<div id="item_list">
    {% for item in items %}
    <figure class="item">
    <a href="/{{ item.item_type.name }}/{{ item.name }}">
        <img class="small_image" src="{{ item.small_image }}">
        <figcaption class="item_caption">{{ item.name }}</figcaption>
    </a>
    </figure>
    {% endfor %}
</div>

{% endblock %}